@font-face {
	font-family: 'FuturaMediumC';
	src: url('../fonts/futuramediumc.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/futuramediumc.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/futuramediumc.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/futuramediumc.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/futuramediumc.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/futuramediumc.svg#futuramediumc') format('svg'); /* Chrome < 4, Legacy iOS */
}